html, body, #map { height: 100%; padding: 0; margin: 0;
  font-family: Monospace;
  background-color: #f0f0f0;
  overflow: hidden;
          }
          #testCanvas {
            background: #000000;
          }


#info{
  position: absolute;
  left: 10px;
  top: 10px;
  z-index: 2;
  padding: 16px 24px;
  color:#fff;
  font-size:20px;
  font-family: Lucinda;
}

#info{
}

#info a{
 color:white;
}
