html, body, #map { height: 100%; padding: 0; margin: 0;
  font-family: Monospace;
  background-color: #f0f0f0;
  overflow: hidden;
          }
          #testCanvas {
            background: #000000;
          }


#info{
  position: absolute;
  top:10px;
  left: 10px;
  z-index: 2;
  color:#fff;
  font-size:14px;
  font-family: Rock Salt;
}

#info{
}

#info a{
 color:white;
 text-decoration:none;
}

#logo{
  width:200px;
}

#info p{
  line-height:1.4;
}

.team img{
  width: 150px;
}

.member{
  width:200px;
  display:inline;
  float:left;
}

.caption{
  text-align:center;
}

.caption a{

  text-decoration:none;
  color: #555;
  font-family: Rock Salt;
}

#team{
 margin:10px;
}

.about-info{
  text-align:left;
}

.about-info {
    width:100%;
}

#about-img {
  width:60%;
  margin: 0px auto;
}
